@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

.animate-fadeInUp {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

.animate-fadeInDown {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}
