@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

@theme {
  --color-light: #ffffff;
  --color-light-50: #ffffff;
  --color-light-100: #f9f9f9;
  --color-light-200: #ececec;
  --color-light-300: #dfdfdf;
  --color-light-400: #d2d2d2;
  --color-light-500: #c6c6c6;
  --color-light-600: #b9b9b9;
  --color-light-700: #acacac;
  --color-light-800: #9f9f9f;
  --color-light-900: #939393;
  --color-light-950: #8c8c8c;

  --color-dark: #000000;
  --color-dark-50: #737373;
  --color-dark-100: #6c6c6c;
  --color-dark-200: #606060;
  --color-dark-300: #535353;
  --color-dark-400: #464646;
  --color-dark-500: #393939;
  --color-dark-600: #2d2d2d;
  --color-dark-700: #202020;
  --color-dark-800: #131313;
  --color-dark-900: #060606;
  --color-dark-950: #000000;

  --color-primary: #04d9ff;
  --color-primary-50: #f2feff;
  --color-primary-100: #e6fdff;
  --color-primary-200: #c2f9ff;
  --color-primary-300: #9cf5ff;
  --color-primary-400: #4fe8ff;
  --color-primary-500: #04d9ff;
  --color-primary-600: #05b9e6;
  --color-primary-700: #0290bf;
  --color-primary-800: #026999;
  --color-primary-900: #014773;
  --color-primary-950: #01294a;
}

@layer base {
  :root {
    --header-height: 4rem;
    --footer-height: 12rem;
  }

  * {
    font-family: "Poppins", sans-serif;
  }
  h1 {
    @apply text-3xl font-bold leading-tight text-dark dark:text-light;
  }

  h2 {
    @apply text-2xl font-semibold leading-snug text-dark dark:text-light;
  }

  h3 {
    @apply text-xl font-medium leading-snug text-dark dark:text-light;
  }

  h4 {
    @apply text-lg font-medium text-dark dark:text-light;
  }

  h5 {
    @apply text-base font-semibold text-dark dark:text-light;
  }

  h6 {
    @apply text-sm font-medium text-dark dark:text-light;
  }

  p {
    @apply text-base leading-relaxed text-dark-400 dark:text-light-400;
  }

  ul {
    @apply pl-5 text-dark dark:text-light;
  }

  ol {
    @apply pl-5 text-dark dark:text-light;
  }

  body {
    @apply bg-light dark:bg-dark transition-all duration-500;
  }

  header {
    @apply h-[var(--header-height)];
  }

  footer {
    @apply h-[var(--footer-height)];
  }

  nav[id="menu"] {
    @apply w-2/3 md:w-1/2 lg:w-1/3 2xl:w-1/4 bg-light dark:bg-dark border-l border-light-500 dark:border-dark-500;
  }

  nav.pagination {
    @apply flex justify-center items-center gap-2;
  }

  header,
  footer {
    @apply bg-light dark:bg-dark text-dark dark:text-light border-y border-light-500 dark:border-dark-500 transition-all duration-500;
  }

  header,
  footer,
  main,
  article[id="single"],
  section {
    @apply px-10 sm:px-24 md:px-36 lg:px-48 xl:px-72 2xl:px-96;
  }

  main,
  article[id="single"] {
    @apply py-10;
  }

  section {
    @apply py-10;
  }

  form[id="commentform"] {
    @apply grid grid-cols-2 gap-4;
  }

  form[id="commentform"] textarea {
    @apply col-span-2 h-36 text-dark dark:text-light border border-light-600 dark:border-dark-400 px-3 py-2 rounded resize-none;
  }

  form[id="commentform"] input[type="text"],
  form[id="commentform"] input[type="email"] {
    @apply col-span-2 md:col-span-1 h-10 px-2 py-1 text-dark dark:text-light border border-light-600 dark:border-dark-400 rounded;
  }

  form p.comment-form-cookies-consent {
    @apply col-span-2 text-dark dark:text-light;
  }

  form[id="commentform"] button {
    @apply col-span-2 h-11 text-dark bg-light-300 hover:bg-light-500 border-light-400 dark:text-light dark:bg-dark-800 hover:dark:bg-dark-600 dark:border-dark-700 border rounded cursor-pointer transition-all duration-500;
  }
}

/* Custom classes for specific elements */

main,
article[id="single"] {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

#canvas {
  @apply fixed inset-0 w-screen h-screen pointer-events-none;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

main,
article[id="single"],
footer {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

header {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}

nav {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInRight;
}
